@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.nav{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    background-color: black;
    
}
.idle{
	height: 50px;
	border: none;
	border-radius: 10px;
	background-color: black;
  
}
.active{
    height: 50px;
	background-color: steelblue;
	border: 1px solid black;
	border-radius: 10px;
   
}
.link{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    text-decoration: none;
    color:  white; 
}
.double{display:flex;}
.outlet{
	width: 80%;
	margin:0% 0% 0% 5%;
}
.sheet{
	width: 80%;
	margin:0% 0% 0% 5%;
	opacity: 0.95;
	border-radius: 10px;
	background-color: black;
}
.sideCont{
width:20%;
height:800px;
background-image:url('./sideWell.jpg');
}

@media only screen and (max-width: 850px){
.link{font-size:24px;}
.sheet{margin-top:-35px;}
}
@media only screen and (max-width: 450px){
.nav{  display:grid; grid-template-columns: repeat(2, 50%);}
.active{height: 40px;}
.idle{height: 40px;}
.link{font-size:23px;}
.sheet{margin-top:-15px;}
}
