.contForm{
position: relative;
width: 300px;
margin-left: 5px;
z-index: 1;
}
.input{
width: 250px;
}
.button{
width: 300px;
}

@media only screen and (max-width: 450px){
.contForm{
width: 90%;
}
.input{
width: 100%;
 }
}
