.container{
display: flex;
margin:50px 0% 0% 10%;
}
.label{
margin: 50px 10px 0px 0px;
font-size: 42px;
}
.input{
width: 80%;
height: 40px;
margin: 20px 10px 10px 0px;
padding-left: 10px;
font-size: 24px;
background-color:black;
color:white;
border: 1px solid white;
}
.inputSub{
width: 76.5%;
height: 40px;
margin: 20px 10px 0px 0px;
padding-left: 10px;
font-size: 24px;
background-color:black;
color:white;
border: 1px solid white;
}
.subtit{
font-size: 40px;
margin: 10px 0px 5px 0px;
}
.textarea{
width: 80%;
height: 100px;
font-size:22px;
padding: 5px;
background-color:black;
color:white;
border: 1px solid white;
}
.button{
width: 50%;
height: 50px;
margin: 5px;
font-size: 40px;
color:white;
background-color: black;
border: 2px solid white;
}
.button:hover{cursor: pointer;color:black; background-color: white;}
.tit{
font-size: 50px;
writing-mode: vertical-rl;
text-orientation: mixed;
background-color: black;
margin-left: 50%;
}
.closer{width: 60px; height: 35px; margin-left: 48%;color:white;background-color: red;border:2px solid black;}
.closer0{width: 60px; height: 35px; margin-left: 48%;color:red;background-color: red;border:2px solid black;}
.closer:hover{cursor:pointer; border:2px solid white;}
.closer0:hover{cursor:pointer;border:2px solid white;}
@media only screen and (max-width: 1090px){
.input{margin-top:5px;}
.inputSub{margin-top:5px;}
}
@media only screen and (max-width: 850px){
.container{margin-top:-30px;}
.tit{margin-left:50%;}
.closer{margin-top:30px;margin-left:50%;}
.closer0{margin-top:30px;margin-left:50%;}
.label{margin-left:5%;font-size: 35px;}
.input{width: 100%;font-size:20px;}
.inputSub{width:100%;font-size:20px;}
.textarea{width:110%;margin-left:-4.5%;font-size:18px;}
.button{width:80%;margin-left:5%;}
}

@media only screen and (max-width: 450px){
.container{margin:-10px 30px 0px 25px;}
.input{width: 120%;}
.inputSub{width:120%;}
.tit{margin-left:64%;}
.closer{margin-left:60%;margin-top:-30px;}
.closer0{margin-left:60%;margin-top:-30px;}
.label{margin-bottom:-5%;margin-left:30%;font-size: 32px;}
.subtit{margin-left:15%;}
.textarea{font-size: 22px;width:138%;}
.button{width:80%;margin-left:25%;}
}

