@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
.header{
display: flex;
width: 100%;
}
.first{
display: flex;
width: 45%;
color: white;
background-image: url('./mesk.jpg')
}
.text{
margin: 34px 0px 0px 19px;
font-family: 'Sorts Mill Goudy', serif;
font-size: 45px;
}
.gear{
margin:20px 0px 0px 10px;
font-size: 65px;
}
.second{
width: 60%;
background-image: url('./net.jpg');
}
@media only screen and (max-width: 850px){
.first{width:80%;}
}
@media only screen and (max-width: 450px){
.first{width:100%; }
.text{font-size: 32px;}
.gear{font-size: 40px;}
.second{display: none;}
}
