@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');
.header{
display: flex;
width: 100%;
}
.first{
display: flex;
width: 45%;
color: white;
background-image: url('./mesk.jpg');
background-position: -65px -10px;
}
.text{
margin: 34px 0px 0px 19px;
font-family: 'Sorts Mill Goudy', serif;
font-size: 45px;
}
.gear{
margin:20px 25px 0px 10px;
font-size: 65px;
}
.second{
width: 70%;
background-image: url('./net.jpg');
}
@media only screen and (max-width: 850px){
.first{width:80%;background-position: -115px -20px;}
.text{font-size: 40px;}
.gear{font-size: 48px;}
}
@media only screen and (max-width: 450px){
.first{width:100%; background-position: -120px -18px;}
.text{font-size: 38px;}
.gear{font-size: 44px;}
.second{display: none;}
}
