@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
.container{
	font-family: 'Sawarabi Mincho', serif;
	font-size: 40px;
	color: white;
	text-align: center;
}
.text{
	width: 100%;
	
}

@media only screen and (max-width: 450px){
.container{
	font-size: 24px;
}
.text{}
}
