@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.container{
	color: white;
	font-family: 'Playfair Display', serif;
}
.pic{
float: left;
height:330px;
width:220px;
margin: 5px;
background-image: url('./myPhoto.jpg');
background-size: cover;
border: 3px solid dodgerblue;
border-radius:  5px;
}
.name{
font-size: 40px;
}
.text{
text-indent: 50px;
}




@media only screen and (max-width: 450px){
	.container{margin-top:24px;	}
	
	.pic{
     height: 200px;
     width: 140px;
	}
	.name{
		font-size: 24px;
	}
	.text{
		font-size: 16px;
		
	}
	
}

