@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
.container{
	color: white;
	font-family: 'Playfair Display', serif;
	
}
.text{

font-size:  32px;
text-indent: 50px;

}
.photo{
float: left;
width: 220px;
height: 330px;
margin: 20px 20px 0px 0px;
border-radius:  5px;
border: 3px solid dodgerblue;
opacity: 1.0;

}
.wrapper{
	float: left;
	margin-right: 15px;
}
.name{}


@media only screen and (max-width: 450px){
	.container{	}
	.photo{
     height: 200px;
	}
	.name{
		font-size: 11px;
	}
	.text{
		font-size: 16px;
		width: 330px;
		text-align:  center;
	}
}

