.body{
    height: 100%;
    width: 102.5%;
    margin: -8px 0px 0px -8px;
}
.intro{
    background-image: url('intro.jpg');
    background-position: 0px -300px;
    background-size: cover;
}
.profile{
  background-image: url('profile.jpg');
    background-position: 0px -150px;
    background-size: cover;
}
.project{
  background-image: url('project.jpg');
  background-position:0px -400px;
  background-size:cover;
}
.contacts{
background-image: url('contacts.jpg');
background-position: 0px -400px;
background-size: cover;
}
@media only screen and (max-width: 450px){
body{width:100%;}
}
