.container{
	color: white;
	margin:25px 0px 20px 0px;
}
.zoomCon{margin:2%; display:flex;justify-content:center;}
.descAndButs{display:flex;}

.description{
   width:55%;
   margin-left: 3%;
   text-indent: 20px;
   font-size:30px;
 }
 .buttons{width:35%;margin:-25px 0px 0px 2.5%;}
 
 .butt{
 margin: 15px 2px 2px 2px;
 font-size: 30px;
 color:black;
 background: white;
 border:3px solid black;
 border-radius:5px;
 }
.butt:hover{cursor: pointer; color:dodgerblue;}
.butText{margin:5px 5px 5px 5px;}
@media only screen and (max-width: 1250px){
.zoomCon{}
.descAndButs{display: inline;}
.description{width:90%;}
.buttons{margin-top:10px;}
}
