.container{
	color: white;
	margin:25px 0px 0px 0px;
}
.img{
    width:46%;
    height:220px;
    margin-left:2.5%;
    border: 3px solid black;
    opacity: 1.0;
    }
 .img0{display:none;}
 .descAndButs{display:flex;}
 .text{
   width:90%;
   margin-left: 5%;
   text-indent: 10px;
   font-size:29px;
 }
 .buttons{}
 .opener{
 width: 70%;
 margin: 2px 2px 2px 15%;
 font-size: 30px;
 color:black;
 background: white;
 border:1px solid black;
 }
 .opener:hover{cursor: pointer; color:dodgerblue;}
@media only screen and (max-width: 850px){
.img{width:80%;height:150px;margin-left:10%;}
.descAndButs{display: inline;}
}
