.main{width: 1000px;text-align:  center;}
.addAndList{display: flex}
.header{
	margin-left: 50px;
}
.panCont{
	margin-left: 50px;
	font-size: 30px;

}
.panLink{text-decoration:  none}
.panLink:hover{color: green}
.bodier{}
.postsList{
	margin-right: -250px;
	width: 1600px;
}
.postTitle{
	background-color: dodgerblue;
	font-size: 25px;
}
.postConten{
background-color: green;
color: white;
font-size: 20px;}

.linkView{font-size: 20px}
.linkView:hover{color: darkgreen}
.addPost{
   width: 1000px;
   margin-left: 30px;
}
.addPost label{margin: 0px 0px 0px 0px; font-size: 20px}
.addPost textarea{margin-left: 100px;height: 100px;display: flex}
.addPost input{margin-left: 100px; height: 50px; display:  flex}
.post{background:  black; color: dodgerblue}
.noPost{background: maroon; color: white}

spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}
