.nav{
    display: grid;
    position: fixed;
    z-index:1;
    grid-template-columns: repeat(4, 24.5%);
    width: 100%;
    top:77px;
    background-color: black; 
}
.idle{
	height: 50px;
	margin-left:9%;
	border: none;
	background-color: black;
}
.idle:hover{border:3px solid white;border-radius: 10px;}
.active{
    height: 50px;
    margin-left:9%;
	background-color: white;
	border: 3px solid white;
	border-radius: 5px;
   
}
.link{
    display: block;
    font-family: Times, bold;
    font-size: 32px;
    text-decoration: none;
    color:  white; 
}
.alink{
   display: block;
   font-family: Times, bold;
   font-size: 32px;
   text-decoration: none;
   color: black;
}
.outlet{
    display:flex;
    width: 80%;
    margin-top:135px;
	border-radius: 10px;
	background: rgba(0,0,0,0.9);
}	


@media only screen and (max-width: 850px){
.link{font-size:28px;}
.alink{font-size:29px;}
.sheet{}
}
@media only screen and (max-width: 600px){
.nav{  display:grid; grid-template-columns: repeat(2, 48.5%);top:72px;}
.active{height: 40px;}
.idle{height: 40px;}
.link{font-size:28px;}
.outlet{width:100%;}
.sheet{width:100%;}
}
@media only screen and (max-width:450px){
.nav{top:65px;}
.link{font-size:26px;}
.alink{font-size:27px;}
}
