@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
.nav{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 100%;
    background-color: black; 
}
.idle{
	height: 50px;
	border: none;
	background-color: black;
}
.active{
    height: 50px;
	background-color: white;
	border: 3px solid white;
	border-radius: 10px;
   
}
.link{
    font-family: Times, bold;
    font-size: 32px;
    text-decoration: none;
    color:  white; 
}
.alink{
   font-family: Times, bold;
   font-size: 32px;
   text-decoration: none;
   color: black;
}
.double{
    display:flex;
    width: 98%;
    margin: 0% 0% 0% 1%;
}

.outlet{
	width: 70%;
	
}
.sheet{
	width: 72%;
	opacity: 0.8;
	border-radius: 10px;
	background-color: black;
}
.sideCont{
width:28%;
height:600px;
border-radius: 0px;

}

@media only screen and (max-width: 850px){
.link{font-size:24px;}
.sheet{}
}
@media only screen and (max-width: 450px){
.nav{  display:grid; grid-template-columns: repeat(2, 50%);}
.active{height: 40px;}
.idle{height: 40px;}
.link{font-size:28px;}
.double{display:inline;}
.outlet{width:100%;margin-top:-50px;}
.sheet{width:100%;}
.sideCont{width:100%;}
}
